{% extends "admin/change_form.html" %}
{% load static md5static %}


{% block extrahead %}
{{ block.super }}
<script src="{% static "media/js/common.js" %}" type="text/javascript"></script>
<script>
    var global = {
        urls: {
            player: "{% url "media:player" %}",
            worker_src_url: "{% md5static "media/js/worker.js" %}",
        },
    };
    {% block media_type %}{% endblock media_type %}    
</script>
<script type="text/javascript" src="{% static "media/js/host_handler.js" %}"></script>
{% endblock extrahead %}