{% extends "admin/change_list.html" %}
{% load static %}


{% block extrahead %}
{{ block.super }}
<script src="{% static "media/js/common.js" %}" type="text/javascript"></script>
<script>
window.urls.file_stream = "{% url "media-file-stream" %}";
window.urls.update_duration = "{% url "media-update-duration" %}";
</script>
<script src="{% static "media/js/player_base.js" %}" type="text/javascript"></script>
{% endblock extrahead %}


{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "media/css/player.css" %}">
{% endblock extrastyle %}