:root {
    --container-padding: 0.5rem;
    --controller-width: 700px;
}

#content {
    padding: 20px 40px 60px!important;
}
#player_container {
    width: 100vw;
    height: 100vh;
    background: #f1f3f4;
    border: 1px solid lightgray;
}
#player_container button {
    margin: auto;
    padding: calc(var(--container-padding) / 2);
}
#media_controller {
    width: var(--controller-width);
}
#repeat {
    white-space: nowrap;
}
#result_list .playing, #result_list .paused {
    background: var(--selected-row);
}
#result_list .column-play {
    min-width: 70px;
}