:root {
    --container-padding: 0.5rem;
    --controller-width: 700px;
}

#content {
    padding: 20px 40px 60px!important;
}
#player_container {
    width: 100vw;
    height: 100vh;
    background: #f1f3f4;
    border: 1px solid lightgray;
    overflow: auto;
}
#player_buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.75rem 0;
    background: #f1f3f4;
    border-top: 1px solid lightgray;
    z-index: 10;
}
#player_container button {
    padding: calc(var(--container-padding) / 2);
}
#media_controller {
    width: var(--controller-width);
}
#repeat {
    white-space: nowrap;
}
#result_list .playing, #result_list .paused {
    background: var(--selected-row);
}
#result_list .column-play {
    min-width: 70px;
}
#result_list .field-play > button {
    width: 30px;
}
#info {
    height: 20px;
}
